.banner-background {
    background: url('../../assets/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.appointment-background {
    background: url('../../assets/images/appointment.png');
    background-size: cover;
    background-repeat: no-repeat;
}